.main-screen{
  width: 100vmin;
  
}
.buttons{
    z-index: 3;
    position:absolute;
    top:12%;
    left:42%;
}
@media (max-width: 500px) {
  .buttons{
    z-index: 3;
    position:absolute;
    top:50%;
    left:25%;
}
 }

